/* tailwind import */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* font import */
@font-face {
  font-family: "Iranian-Sans";
  src: url("./fonts/iranian sans/Iranian Sans.ttf");
}

/* main styles */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Iranian-Sans";
  direction: rtl;
}

/* toggle mood */
.dark {
  background: black;
  color: white;
}
.light {
  background: white;
  color: black;
}

/* header */
.header-menu {
  cursor: pointer;
  transition: all ease 0.3s;
  position: relative;
  padding-bottom: 0.3rem;
  overflow: hidden;
}
.header-menu::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #06b6d4;
  position: absolute;
  bottom: 0;
  right: -100%;
  border-radius: 0.4rem;
  transition: all ease 0.3s;
}
.header-menu:hover {
  color: #06b6d4;
}
.header-menu:hover::after {
  right: 0;
}

/* nav custom */
.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: top 0.3s;
  padding: 1rem 3rem;
}
@media (max-width:768px){
  .sticky-nav {
    padding: 1rem ;
  }
}

@media (max-width: 768px) {
  .mobile-menu {
  display: none;
  }
  .mobile-menu.open {
  display: block;
  }
  }

  
.no-scroll {
  overflow: hidden;
  }